<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <div class="nav-container">
    <div class="left-nav">
      <a class="h1"[routerLink]="['/homepage']"><img class="icon" src="assets/iconecomm.png" alt="">Shopfy</a>
    </div>
    <div class="right-nav">
      <div class="login">
        <a [routerLink]="['/cart']" id="cart-button"><i class="fa fa-shopping-cart" style="font-size:36px"></i></a>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a [routerLink]="['/homepage']">Homepage</a>
          <a [routerLink]="['/cart']">Cart</a>
          <a [routerLink]="['/login']">Logout</a>
        </div>
      </div>
      <div class="hamburger" id="hamburger-menu">
        <i class="fa fa-bars" style="font-size:36px"></i>
      </div>
    </div>
  </div>

  <div class="prod-container">
    <div class="container">
      <h1>Shop Items</h1>
      <div class="price-filter">
        <label for="priceRange">Filter by price:</label>
        <select id="priceRange" [(ngModel)]="selectedPriceRange" (change)="filterItems()">
          <option value="all">All</option>
          <option value="below500">Below 500</option>
          <option value="500to1000">500 to 1000</option>
          <option value="above1000">Above 1000</option>
        </select>
      </div>


      <div *ngIf="filteredItems.length === 0">
        <p>Loading items...</p>
      </div>
      <div class="flash-deals">

      </div>
      <div class="item-list">
        <div *ngFor="let item of filteredItems" class="item">
          <img [src]="'assets/' + item.image_name" alt="{{ item.item_name }}" width="150" height="150">
          <h2>{{ item.item_name }}</h2>
           <p class="description">{{ item.item_description }}</p>
          <p class="quantity">Available Quantity: {{ item.item_quantity }}</p>
          <p class="price">Price: Php{{ item.item_price }}</p>
          <button (click)="payoutOrder(item)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>


</body>

