<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Shopfy Cart</title>
</head>
<body>
  <div class="nav-container">
    <div class="left-nav">
      <a class="h1" [routerLink]="['/homepage']"><img class="icon" src="assets/iconecomm.png" alt="">Shopfy</a>
    </div>
    <div class="right-nav">
      <div class="login">
      </div>
      <div class="dropdown">
        <a [routerLink]="['/homepage']"><i class="fa fa-home" style="font-size:36px"></i></a>
        <a [routerLink]="['/login']"><i class="fa fa-sign-out" style="font-size:36px"></i></a>
      </div>
      <div class="hamburger" id="hamburger-menu">
        <i class="fa fa-bars" style="font-size:36px"></i>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <h2>Your Orders</h2>
      <div *ngIf="orders.length === 0">
        <p>You have no orders in the moment.</p>
      </div>
      <div *ngIf="orders.length > 0" class="order-list">
        <div *ngFor="let order of orders" class="order-item">
          <div class="order-details">
            <h3>Order ID: {{ order.order_id }}</h3>
            <p>Item Name: {{ order.item_name }}</p>
            <label for="quantity-{{order.item_id}}">Quantity:</label>
            <input id="quantity-{{order.item_id}}" type="number" [(ngModel)]="order.selectedQuantity" min="1" [max]="order.item_quantity" (change)="updateOrderTotalPrice(order)">
            <p>Price for each: Php{{ order.item_price }}</p>
            <p>Total Price: Php{{ order.total_price }}</p>
            <div class="button-group">
              <button class="btn cancel-btn" (click)="cancelAllOrder(order)">Cancel Order</button><i>&nbsp;</i>
              <button class="btn payout-btn" (click)="payout(order)">Payout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
