<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="nav-container">
        <div class="left-nav">
            <a class="h1"[routerLink]="['/homepage']"><img class="icon" src="assets/iconecomm.png" alt="">Shopfy</a>
        </div>

        <div class="right-nav">
            <div class="login">
                <a [routerLink]="['/login']" id="logout-button">LOGOUT</a>
            </div>

        </div>

    </div>
</body>
 -->
